<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: header"></head>

<body>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form action="/login" method="post">
            <h1>Forgot Password</h1>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username & Password</div>

            <div th:if="${param.logout}" class="alert alert-success">
                Logout Successfully</div>

            <span>or use your account</span>
            <input type="email" name="username" placeholder="Email" required minlength="5" maxlength="50"/>
            <button>Reset Password</button>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/login}">Create Account</a>
        </form>
    </div>
</div>

<script th:replace="fragments :: script"></script>

</body>
</html>